@import "../../styles/mixins";

.container-header {
  height: var(--header-height) !important;
  line-height: var(--header-height) !important;
  padding: 0;
  background-color: #17161ab2;
  z-index: 1;

  &-inner {
    @include container;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
}
